configuration {
  drun-display-format: "{icon} {name}";
  font: "JetBrainsMono Nerd Font Medium 10";
  modi: "window,run,drun";
	combi-modi: "window,drun,ssh";
  show-icons: true;
  icon-theme: "Papirus";	
	show: "combi";
}

@theme "squared-everforest"


